/*font-family*/

p {
	font-family: cabin;
}

h1 {
	font-family: lobster;
}

/*font-size*/

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 2.0em;
}

/*font-weight - how bold or lighwight the text is*/

p {
	font-weight: normal; 
}

/*line-height - the hight that is inbetween lines in a text*/

p {
	line-height: 1.5;
} 

/*text-align - make the text aligh left, right, center*/

h1 {
	text-align: center;
}

/*text-decoration - give text a line over, under or through*/

h1 {
	text-decoration: underline;
}

p {
	text-decoration: line-through;
}